.navigation{
    margin:auto;
    width: 1200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation-number{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.number-one{
    margin: 30px;
}
.number-first{
    color: #444A56;
    font-size: 4rem;
}
.number-select{
    color: $color-yellow;
    font-size: 4rem;
}.navigation-footer-container{
    background-color: #fff;
    width: 1200px;
    height: 100%;
    margin: auto;
}
.navigation-footer-about{
    width: 50%;
    margin: auto;
    padding-top: 50px;
}
.nav-about{
    color: #444A56;
    font-size: 2rem;
    padding-left: 40px;
}
.navigation-footer-comment{
    width: 1100px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-one{
    margin-left: 10px;
    border: 2px solid #BBC1CA;
    border-radius: 7px;
    padding: 20px;
    width: 500px;
    height: 230px;
    color: #68707D;
    letter-spacing: 1.1px;
    font-size: 1.2rem;
}
.comment-one:hover{
    border: 2px solid $color-yellow;
    transition: .8s;
}
.comment-name{
    padding-right: 10px;
    font-weight: bold;
    color: #68707D;
}
.comment-location{
    color: #BBC1CA;
}
.navigation-member{
    margin-top: 50px;
    background-color: $color-yellow;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.member-text{
    color: #fff;
    font-size: 2rem;
}
.member-button{
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 10px;
    color: #fff;
    font-size: 1.2rem;
    width: 300px;
    padding-left: 50px;
    font-weight: bold;
}
.navigation-video{
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-container{
    margin: auto;
    width: 1200px;
    background-color: #fff;

}
.footer-about{
    width: 1000px;
    margin: auto;
    color: rgb(255, 104, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}
.footer-about span{
    margin-top: 50px;
}
.footer-header{
    margin: auto;
    width: 1000px;
}
.footer-header nav{
    background-color: #F2F3F5;
}
.footer-header nav div{
    height: 60px;
    margin-top: 30px;
}
.footer-header nav div button::selection{
    color: $color-yellow;
}
.footer-header-first{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    color: #68707D;
}
.footer-header-first-text{
    color: #68707D;
}
.footer-header-first-text a{
    color: $color-yellow;
}
.footer-info-text{
    margin-top: 150px;
}
.footer-info-text span{
    color: #68707D;
    font-size: .9rem;
}
.footer-info-text-two{
    margin-top: 50px;
}
.footer-info-text-two span{
    color: #68707D;
}
.footer-info-orange{
    margin-top: 50px;
    background-color: $color-orange;
    width: 100%;
    height: 70px;
}
.footer-last-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 100%;
    height: 90px;
    background-color: #656D78;
}
.footer-header-left span{
    color: #A2A39F;
    font-size: .9rem;
}
.footer-header-right ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: .9rem;
}
.footer-header-text a{
    font-size: .8rem;
    text-decoration: none;
}
.footer-header-text a:hover{
    color: $color-yellow;
}
.footer-header-right ul li{
    margin-left: 15px;
    padding-left: 15px;
}