.navigation{
    margin:auto;
    width: 1200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation-number{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.number-one{
    margin: 30px;
}
.number-first{
    color: #444A56;
    font-size: 4rem;
}
.number-select{
    color: $color-yellow;
    font-size: 4rem;
}.navigation-footer-container{
    background-color: #fff;
    width: 1200px;
    margin: auto;
}
.navigation-footer-about{
    width: 50%;
    margin: auto;
    padding-top: 50px;
}
.nav-about{
    color: #444A56;
    font-size: 2rem;
    padding-left: 40px;
}