.main-page{
    color: $color-orange;
}
.main-element{
    color: $color-text;
}
.main-element:hover{
    color: $color-orange;
}
.main{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.main-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 50px;
    padding-left: 50px;
}
.main-info-element{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 40px;
}
.main-info-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    font-weight:400;
    font-size: 20px;
    
}
.main-info-link:hover{
    color:$color-yellow;
    transition: .3s;
}

.main-info-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: $color-text;
}
.main-info-img{
    color: $color-yellow;
    margin-bottom: 15px;
}
.main-header{ 
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1050px;
}
.main-header-element{
    width: 1050px;
    background-color: $color-yellow;
}
.slider-box-two{
    display: flex;
    flex-wrap: wrap;
}

.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tabs{
    width: 1000px;
    background-color: $color-yellow;
    padding: 5px;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background: $color-yellow;
  display:inline-block;
  color: #676f7c;
  opacity: .7;
}
.tab:hover{
    color: #fff;
    transition: .2s;
}
.panels{
  background:#fffffff6;
  min-height:400px;
  width:100%;
  max-width:1000px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
  color: #fff;
}
.wrapper-text{
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.panel-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
}
.notice{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    width: 200px;
    height: 40px;
    border: none;
    background-color: $color-yellow;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}
.notice:hover{
    background-color: #80a123;
}
.main-footer{
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}
.main-footer h1{
    margin-left: 300px;
    font-weight: bold;
    color: #434955;

}
.main-footer-project{
    display: flex;
}
.main-footer-element{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    
}
.right{
    display: flex;
}
.left{
    margin-left: 30px;
}
.left-text{
    color: #434955;
    font-size: 26px;
}
.left-text-small{
    color: #434955;;
    font-size: 18px;
    margin-top: 10px;
    opacity: .8;
}